= form_for current_user, url: profile_path, html: {role: 'form'} do |f|
  .row
    %fieldset.col-md-4
      %h2= t('.your_profile')
      %p
        = t('.this_information_will_be')
        %strong= t('.hidden')
        = t('.from_the_review_committee_but_')
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control', placeholder: 'Your name'
      %p
        = f.label :bio
        = f.text_area :bio, class: 'form-control', placeholder: 'Enter your bio', rows: 7, maxlength: 500
        %p.help-block= t('.bio_is_limited_to_500_characte')
    %fieldset.col-md-4
      %h2= t('.identity_services')
      %p
        = t('.email_is_only_used_for_notific')
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', placeholder: 'Your email address'
      - if Rails.env.development?
        .service
          - if current_user.connected?('developer')
            %button.btn.btn-success
              %i.glyphicon.glyphicon-user
              = t('.connected_via_developer')
          - else
            = link_to t('.authdeveloper'), class: 'btn btn-default' do
              %i.glyphicon.glyphicon-user
              = t('.connect_via_developer')
      .service
        - if current_user.connected?('github')
          %button.btn.btn-success
            %i.icon-github
            = t('.connected_via_github')
        - else
          = link_to t('.authgithub'), class: 'btn btn-default' do
            %i.icon-github
            = t('.connect_to_github')
      .service
        - if current_user.connected?('twitter')
          %button.btn.btn-success
            %i.icon-twitter
            = t('.connected_via_twitter')
        - else
          = link_to t('.authtwitter'), class: 'btn btn-default' do
            %i.icon-twitter
            = t('.connect_to_twitter')
    %fieldset.col-md-3
      %h2= t('.demographics')
      %p
        = t('.this_information_is_entirely')
        %strong= t('.optional')
        = t('.and_will_be')
        %strong= t('.hidden')
        = t('.from_the_review_committee')
        = render :partial => 'shared/demographics', :locals => {:f => f}

  .row.col-md-12.form-submit
    %button.pull-right.btn.btn-success{:type => "submit"}= t('.save')
