.row
  .col-md-11
    %h1
      = event
      %small= event.status
  .col-md-1
    .share.pull-right= event.tweet_button
  .col-md-8
    .markdown
      %p= link_to t('submit-a-proposal'), new_proposal_path(slug: event.slug), class: 'btn btn-primary btn-lg'
      - if event.closed?
        = t('.closed_on')
        %strong= event.closes_at(:long_with_zone)
      = markdown(event.guidelines)
      %p= link_to t('submit-a-proposal'), new_proposal_path(slug: event.slug), class: 'btn btn-primary btn-lg'
  .col-md-4
    - if event.open?
      %p= link_to t('submit-a-proposal'), new_proposal_path(slug: event.slug), class: 'btn btn-primary btn-lg'
      - if event.closes_at?
        %p
          = t('Closes at')
          %strong= event.closes_at(:long_with_zone)
        %p
          %strong
            = time_ago_in_words(event.closes_at)
            = t('submit-time-left')
          = t('to_submit_your_proposal')
    - if event.proposals.count > 5
      .stats
        %h2= t('.cfp_stats')
        = pluralize(event.proposals.count, 'proposal')
        = event.line_chart
