%h3= t('.title')
.markdown{ data: { 'field-id' => 'proposal_title' } }
  = proposal.title

%h3= t('.abstract')
.markdown{ data: { 'field-id' => 'proposal_abstract' } }
  = proposal.abstract

%h3= t('.details')
.markdown{ data: { 'field-id' => 'proposal_details' } }
  = proposal.details

%h3= t('.pitch')
.markdown{ data: { 'field-id' => 'proposal_pitch' } }
  =proposal.pitch

  - if proposal.custom_fields.any?
    - proposal.proposal_data[:custom_fields].select do |key,value|
      %h3= key.capitalize
      %div
      = value.capitalize
      %div

