.speaker.clearfix
  = f.simple_fields_for :speakers, f.object.speakers do |speaker_fields|
    - speaker = speaker_fields.object.decorate
    = link_to (edit_profile_path) do
      = speaker.gravatar
      %h4
        = speaker.name_and_email
        %br
        .help-block.small= t('.edit_my_profile')

    .clearfix
    %p
      = t('.this_information_will_be')
      %strong= t('.hidden')
      = t('.from_the_review_committee')

    = speaker_fields.hidden_field :person_id, value: speaker.person_id

    = speaker_fields.input :bio, maxlength: :lookup,
      placeholder: t('helpers.placeholder.speaker_fields.bio'),
      input_html: { value: speaker.bio, rows: 4 },
      hint: t('helpers.hint.speaker_fields.bio')
